/* @import "tailwindcss"; */

:root {
  --primary: #35afa0;
  --gray-custom: #c2c2d3;
  --red-custom: #d51243;
  --dark-red: #ea2b0f;
  --gold: #ffcd00;
  --green-custom: #00b853;
  --hover-color: #2c988b;
  --pink-custom: #ffeef2;
  --border-primary: #edeef5;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.text-primary {
  color: var(--primary);
}
