/* @import "tailwindcss"; */


:root {
  --primary: #35AFA0;
  --gray-custom: #C2C2D3;
  --red-custom: #D51243;
  --dark-red: #EA2B0F;
  --gold: #FFCD00;
  --green-custom: #00B853;
  --hover-color: #2C988B;
  --pink-custom: #FFEEF2;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.text-primary{
    color: var(--primary);
}